In [14]:
import sqlite3
import pandas

In [15]:
database = 'data/aflw/data/aflw.sqlite'

In [16]:
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all results
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the connection
conn.close()

Faces
sqlite_sequence
FacePose
FaceImages
Databases
FaceMetaData
sqlite_stat1
FaceRect
AnnotationType
FaceEllipse
NearDuplicates
FeatureCoords
FeatureCoordTypes
CamPose

In [17]:
# Connect to the SQLite database
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

cursor.execute("SELECT * FROM FaceRect")

# Fetch all results
annotations = cursor.fetchall()

# Get the column names from the cursor description
column_names = [description[0] for description in cursor.description]

df_FaceRect = pandas.DataFrame(annotations, columns=column_names)

# Close the connection
conn.close()

df_FaceRect.head()

   face_id    x    y    w    h  annot_type_id
0    39341   62   64  348  348              1
1    39342  110   25   88   88              1
2    39343   63  128  262  262              1
3    39344  181  341  276  276              1
4    39345  323  334  262  262              1

In [18]:
# Connect to the SQLite database
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch all data from the FaceMetaData table
cursor.execute("SELECT * FROM FaceRect")

# Fetch all results
annotations = cursor.fetchall()

# Get the column names from the cursor description
column_names = [description[0] for description in cursor.description]

# Print the column names
print("Column Names:")
print(column_names)

df_FaceRect = pandas.DataFrame(annotations, columns=['face_id', 'W_box', 'H_box', 'X_box', 'Y_box', "annot_type_id"])

# Close the connection
conn.close()

df_FaceRect.head()

Column Names:
['face_id', 'x', 'y', 'w', 'h', 'annot_type_id']

   face_id  W_box  H_box  X_box  Y_box  annot_type_id
0    39341     62     64    348    348              1
1    39342    110     25     88     88              1
2    39343     63    128    262    262              1
3    39344    181    341    276    276              1
4    39345    323    334    262    262              1

In [19]:
# Connect to the SQLite database
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch all data from the FaceMetaData table
cursor.execute("SELECT * FROM FaceMetaData")

# Fetch all results
annotations = cursor.fetchall()

# Get the column names from the cursor description
column_names = [description[0] for description in cursor.description]

# Print the column names
print("Column Names:")
print(column_names)

df_FaceMetaData = pandas.DataFrame(annotations, columns=column_names)

# Close the connection
conn.close()

df_FaceMetaData.head()

Column Names:
['face_id', 'sex', 'occluded', 'glasses', 'bw', 'annot_type_id']

   face_id sex  occluded  glasses  bw  annot_type_id
0    39341   m         0        0   1              0
1    39342   f         0        0   0              0
2    39343   f         0        0   0              0
3    39344   f         0        0   0              0
4    39345   f         0        0   0              0

In [20]:
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch all table names
cursor.execute("SELECT * FROM FeatureCoords")

# Fetch all results
annotations = cursor.fetchall()

df_feature_coords = pandas.DataFrame(annotations, columns=['face_id', 'feature_id', 'x', 'y', 'idk'])

# Close the connection
conn.close()

df_feature_coords.head()

   face_id  feature_id      x      y  idk
0    39356          19  357.0  361.0    0
1    39357           1  212.0  150.0    0
2    39357           2  233.0  142.0    0
3    39357           3  254.0  139.0    0
4    39357           4  281.0  137.0    0

In [21]:
df_feature_coords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386621 entries, 0 to 386620
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   face_id     386621 non-null  int64
 1   feature_id  386621 non-null  int64
 2   x           386621 non-null  float64
 3   y           386621 non-null  float64
 4   idk         386621 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 14.7 MB

In [22]:
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch all table names
cursor.execute("SELECT * FROM Faces")

# Fetch all results
annotations = cursor.fetchall()

df_faces = pandas.DataFrame(annotations, columns=['face_id', 'file_id', 'db_id'])

# Close the connection
conn.close()

df_faces.head()

   face_id         file_id   db_id
0    39341  image00035.jpg  flickr
1    39342  image00032.jpg  flickr
2    39343  image00168.jpg  flickr
3    39344  image00179.jpg  flickr
4    39345  image00179.jpg  flickr

In [23]:
df_faces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24396 entries, 0 to 24395
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   face_id  24396 non-null  int64
 1   file_id  24396 non-null  object
 2   db_id    24396 non-null  object
dtypes: int64(1), object(2)
memory usage: 571.9+ KB

In [24]:
conn = sqlite3.connect(database)

# Create a cursor object
cursor = conn.cursor()

# Execute a query to fetch all table names
cursor.execute("SELECT * FROM FeatureCoordTypes")

# Fetch all results
annotations = cursor.fetchall()

df_feature_coord_types = pandas.DataFrame(annotations, columns=['feature_id', 'feature_name', 'feature_code', '1', '2', '3'])

# Close the connection
conn.close()

df_feature_coord_types

,feature_id,feature_name,feature_code,1,2,3
0,1,LeftBrowLeftCorner,LBLC,-0.479962,0.471864,-0.385266
1,2,LeftBrowCenter,LBC,-0.303036,0.508997,-0.268160
2,3,LeftBrowRightCorner,LBRC,-0.106451,0.498075,-0.212812
3,4,RightBrowLeftCorner,RBLC,0.106451,0.498075,-0.212812
4,5,RightBrowCenter,RBC,0.303036,0.508997,-0.268160
5,6,RightBrowRightCorner,RBRC,0.479962,0.471864,-0.385266
6,7,LeftEyeLeftCorner,LELC,-0.447198,0.321149,-0.442009
7,8,LeftEyeCenter,LEC,-0.318326,0.325518,-0.364153
8,9,LeftEyeRightCorner,LERC,-0.163242,0.308043,-0.379381
9,10,RightEyeLeftCorner,RELC,0.163242,0.308043,-0.379381
10,11,RightEyeCenter,REC,0.318326,0.325518,-0.364153
11,12,RightEyeRightCorner,RERC,0.447198,0.321149,-0.442009
12,13,LeftEar,LE,-0.674258,-0.151652,-1.068189
13,14,NoseLeft,LN,-0.170000,-0.075741,-0.270588
14,15,NoseCenter,NC,0.000000,0.000000,0.000000
15,16,NoseRight,RN,0.170000,-0.075741,-0.270588
16,17,RightEar,RE,0.674258,-0.151652,-1.068189
17,18,MouthLeftCorner,MLC,-0.272456,-0.347240,-0.329278
18,19,MouthCenter,MC,0.000000,-0.336318,-0.205583
19,20,MouthRightCorner,MRC,0.272456,-0.347240,-0.329278
20,21,ChinCenter,CC,0.000000,-0.737950,-0.287045
21,22,LeftTemple,LT,NaN,NaN,NaN
22,23,RightTemple,RT,NaN,NaN,NaN
23,24,LeftNoseNostril,LNNT,NaN,NaN,NaN
24,25,RightNoseNostril,RNNT,NaN,NaN,NaN
25,26,MouthCenterUpperLipOuterEdge,MCUL,NaN,NaN,NaN
26,27,MouthCenterLowerLipOuterEdge,MCLL,NaN,NaN,NaN
27,28,HeadCenter,HC,0.000000,0.200000,-0.767000
28,29,RightEyeTop,RET,NaN,NaN,NaN
29,30,RightEyeBottom,REB,NaN,NaN,NaN
30,31,LeftEyeTop,LET,NaN,NaN,NaN
31,32,LeftEyeBottom,LEB,NaN,NaN,NaN
32,33,MouthCenterUpperLipInnerEdge,MCULI,NaN,NaN,NaN
33,34,MouthCenterLowerLipInnerEdge,MCLLI,NaN,NaN,NaN
34,35,FaceOuterLeft,FOL,NaN,NaN,NaN
35,36,FaceOuterRight,FOR,NaN,NaN,NaN
36,37,NoseCenterBottom,NCB,NaN,NaN,NaN
37,38,LeftEarTop,LEAT,NaN,NaN,NaN
38,39,RightEarTop,REAT,NaN,NaN,NaN
39,40,LeftEarCanal,LEAC,NaN,NaN,NaN
40,41,RightEarCanal,REAC,NaN,NaN,NaN